<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.medisolv">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="" />
        <activity
            android:name=".RegistrationActivity"
            android:label="" />
        <activity
            android:name=".LoginActivity"
            android:label="" />
        <activity
            android:name=".WelcomeActivity"
            android:label="" />
        <activity
            android:name=".WelcomdoctorActivity"
            android:label="" />
        <activity
            android:name=".ViewHistoryActivity"
            android:label="" />
        <activity
            android:name=".ViewReportsOrScansActivity"
            android:label="" />
        <activity android:name=".ReportsOrScansActivity" />
        <activity android:name=".ShareReportsOrScansActivity" />
        <activity android:name=".PriscriptionActivity" />
        <activity android:name=".PrescriptionDetailActivity" />
        <activity android:name=".BuyMedicinesActivity" />
        <activity android:name=".ConsultapatientActivity" />
        <activity android:name=".ConsultDoctorActivity" />
        <activity android:name=".ForgotPatientIDActivity" />
        <activity android:name=".AddPatientActivity" />
        <activity android:name=".AddScansActivity" />
        <activity android:name=".AddMedicineActivity" />
        <activity android:name=".PrescribeMedicineActivity" />
        <activity android:name=".RetakeImageActivity" />
        <activity android:name=".AddDependentActivity" />
        <activity android:name=".RegistredDependentActivity" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".DependentRegisterActivity" />
        <activity android:name=".DependentsActivity" />
        <activity android:name=".DependentsDetailActivity"></activity>
    </application>

</manifest>